h1 {
    font-size: 32px;
}

strong {
    padding-right: 8px;
}

span {
    padding-right: 40px;
    padding-top: 5px;
    display: block;
}
.k {
    display: inline;
}
a {
    text-decoration: none;
    padding-right: 40px;

}