a, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, img, input, label, legend, li, mark, ol, p, section, span, strong, textarea, time, ul, var input{
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
    color: #323232;
    box-sizing: border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
}

.yi{
    float: left;
    width: 32%;
    padding-top: 31%;
    margin-left: 1%;
    margin-top: 1%;
    background-color: #09BE07;
    border-radius: 20px;

   
}
.yi:hover
 {
     background-color: red;
 }
